$lg: 1030;
$xl: 1200;
$mobile: 500;
$tablet: 768;

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 1020px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media screen and (max-width: 1400px) {
    @content;
  }
}
